<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Tarefas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .mensagem {
            color: green;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Cadastrar Tarefa</h1>
        <form action="/tarefas/new" method="post" th:object="${tarefa}">
            <label for="titulo-cadastro">Título da Tarefa:</label>
            <input type="text" id="titulo-cadastro" name="titulo" th:field="*{titulo}">
            <div th:if="${#fields.hasErrors('titulo')}" id="mensagemErro" class="error-message" th:errors="*{titulo}">
                Título é obrigatório
            </div>
            <button id= "salvarCadastro" type="submit">Salvar</button>
        </form>
       
        <div th:if="${cadastroSucesso}" id="mensagemCadastroSucess" class="mensagem">
            Tarefa cadastrada com sucesso!
        </div>
        <a href="/tarefas" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>

