<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .mensagem {
            color: green;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container" id="editar-tarefa">
        <h1>Editar Tarefa</h1>
        <form action="/tarefas/edit" method="post" th:object="${tarefa}">
            <label for="novo-titulo">Novo Título da Tarefa:</label>
            <input type="hidden" id="id" name="id" th:value="*{id}" readonly>
            <input type="text" id="novo-titulo" name="titulo" th:field="*{titulo}">
            <div th:if="${#fields.hasErrors('titulo')}" class="error-message" th:errors="*{titulo}">
                Título é obrigatório
            </div>
            <button type="submit">Salvar Alterações</button>
        </form>

        <div th:if="${edicaoSucesso}" class="mensagem">
            Tarefa editada com sucesso!
        </div>

        <a href="/tarefas" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>

