<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Tarefas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #excluir-tarefa {
            text-align: center; /* alinhar texto */
        }

        #excluir-tarefa p {
            word-wrap: break-word; /* descer linha */
        }

    </style>
</head>
<body>
    <div class="container" id="excluir-tarefa">
        <h1>Excluir Tarefa</h1>
        <form th:action="@{'/tarefas/' + ${tarefa.id} + '/destroy'}" th:method="delete">
            <p>Título: <span th:text="${tarefa.titulo}"></span></p>
            <input type="hidden" id="id" name="id" th:value="${tarefa.id}">
            <p>Tem certeza que deseja excluir a tarefa?</p>
            <button class="btn-sim" type="submit">Sim</button>
            <a href="/tarefas" class="btn-nao">Não</a>
        </form>
    </div>

    <div th:if="${exclusaoSucesso}" class="mensagem-exclusao">
        Tarefa excluída com sucesso!
    </div>
</body>
</html>







