<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="author" content="caiovidal">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Tarefas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Listagem de Tarefas</h1>
        <ul>
            <li>
                <span>Nome da Tarefa 1</span>
                <a href="editar-tarefa/" class="btn-editar">Editar</a>
                <a href="excluir-tarefa/" class="btn-excluir">Excluir</a>
                <a href="visualizar-tarefa/" class="btn-visualizar">Visualizar</a>
            </li>
            <li>
                <span>Nome da Tarefa 2</span>
                <a href="editar-tarefa/" class="btn-editar">Editar</a>
                <a href="excluir-tarefa/" class="btn-excluir">Excluir</a>
                <a href="visualizar-tarefa/" class="btn-visualizar">Visualizar</a>
            </li>
            
        </ul>
        <a href="cadastrar-tarefa/" class="btn-voltar">Cadastrar Tarefa</a>
    </div>
</body>
</html>