
<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
       
        #visualizar-tarefa {
            text-align: center; /* alinhar texto */
        }

        #visualizar-tarefa p {
            word-wrap: break-word; /* descer linha */
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="visualizar-tarefa">
            <h1>Visualizar Tarefa</h1>
            <p>Título: <span id="visualizarTarefa" th:text="${tarefa.titulo}"></span></p>
            <a href="/tarefas" class="btn-voltar">Voltar</a>
        </div>
    </div>
</body>
</html>
