<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container" id="visualizar-tarefa" style="display: none;">
        <h1>Visualizar Tarefa</h1>
        <p>Título: <span th:text="${titulo}"></span></p>
        <a href="/" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>
