

<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="author" content="Caio Vidal">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
    <h1>Cadastrar Tarefa</h1>
    <form action="tarefas/create" method="POST">
        <label for="titulo">Título da Tarefa:</label>
        <input type="text" id="titulo" name="titulo" required>
        <button type="submit">Salvar</button>
    </form>

    <h1>Lista de Tarefas</h1>
    <div class="tarefa">
        <span>Minha primeira tarefa</span>
        <a href="tarefas/1/edit" class="btn-editar">Editar</a>
        <a href="tarefas/1/destroy" class="btn-excluir">Excluir</a>
        <a href="tarefas/1" class="btn-visualizar">Visualizar</a>
    </div>

    <!-- Formulário para visualizar tarefa -->
    <h1>Visualizar Tarefa</h1>
    <form action="tarefas/1/edit" method="POST">
        <label for="titulo">Título da Tarefa:</label>
        <input type="text" id="titulo" name="titulo" value="Minha primeira tarefa" required>
        <button type="submit">Salvar</button>
    </form>

    <!-- Formulário para excluir tarefa -->
    <h1>Excluir Tarefa</h1>
    <form action="tarefas/1/destroy" method="POST">
        <p>Tem certeza que deseja excluir a tarefa?</p>
        <button type="submit">Sim</button>
        <a href="tarefas/" class="btn-nao">Não</a>
    </form>
</body>
</html>